<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ShelterA{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="bg-gray-50 min-h-screen flex flex-col">

    <!-- HEADER -->
    <header class="sticky top-0 z-50 bg-gray-300/60 backdrop-blur-md border-b border-gray-200">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">

                <a href="/" class="flex items-center gap-2 text-teal-600 font-semibold">
                    <svg class="h-7 w-7" viewBox="0 0 28 24" fill="currentColor">
                        <path d="M0.41 10.3847C1.14777 7.4194 2.85643 4.7861 5.2639 2.90424C7.6714 1.02234 10.6393 0 13.695 0C16.7507 0 19.7186 1.02234 22.1261 2.90424C24.5336 4.7861 26.2422 7.4194 26.98 10.3847H25.78Z"/>
                    </svg>
                    <span class="text-lg">ShelterA</span>
                </a>

                <div class="flex items-center gap-8">
                    <nav class="hidden md:flex gap-8 text-sm font-medium text-gray-600">
                        <a href="{% url 'dogs' %}" class="hover:text-gray-900">Dogs</a>
                        <a href="{% url 'adopt_form' %}" class="hover:text-gray-900">Adopt</a>
                    </nav>

                    <a href="#" class="bg-teal-600 text-white text-sm px-4 py-2 rounded-lg hover:bg-teal-700">
                        Donate
                    </a>
                </div>

            </div>
        </div>
    </header>

    <!-- PAGE CONTENT -->
    <main class="flex-1">
        {% block content %}
        {% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="bg-neutral-primary-soft rounded-base shadow-xs border border-default m-4"> 
        <div class="w-full mx-auto max-w-7xl p-4 md:flex md:items-center md:justify-between"> 
            <span class="text-sm text-body sm:text-center">© 2026 <a href="https://flowbite.com/" class="hover:underline">Shelter A</a>. All Rights Reserved. </span> 
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-body sm:mt-0"> 
                <li> 
                    <a href="{% url 'dogs' %}" class="hover:underline me-4 md:me-6">Meet Dogs</a> 
                </li> 
                <li> 
                    <a href="#" class="hover:underline me-4 md:me-6">Adopt</a> 
                </li>
                <li> 
                    <a href="#" class="hover:underline">Donate</a> 
                </li> 
            </ul> 
        </div>
    </footer>

</body>
</html>