{% extends "base.html" %}
{% load static %}
{% block title %}All Dogs{% endblock %}

{% block content %}
        <!--  Convertor to lb/kg  -->

        <div class="max-w-xl mx-auto w-full px-6 mt-6 ml-6">
            <a href="javascript:history.back()" class="inline-flex text-sm text-gray-600 hover:text-gray-900">
                ← Previous
            </a>
        </div>

        <main class="flex-1 flex items-center justify-center">
        <div class="w-full max-w-xl bg-white rounded-3xl shadow-xl p-8 text-center border border-gray-100">

            {% if dog.photo %}
                <img class="w-52 h-52 mx-auto rounded-full object-cover shadow-md ring-4 ring-white"
                src="{{ dog.photo.url }}">
            {% else %}
                <img class="w-52 h-52 mx-auto rounded-full object-cover shadow-md ring-4 ring-white"
                src="{% static 'images/default.png' %}">
            {% endif %}
            

            <h1 class="mt-5 text-3xl font-bold text-gray-800">{{ dog.name }}</h1>

            <span class="mt-2 inline-block px-3 py-1 text-xs rounded-full
            {% if dog.status == 'Not-Adopted' %}bg-green-100 text-green-700
            {% elif dog.status == 'Pending' %}bg-yellow-100 text-yellow-700
            {% else %}bg-gray-200 text-gray-600{% endif %}">
            {{ dog.status }}
            </span>

            <div class="mt-6 text-left space-y-3 text-gray-700">
            <p><span class="font-semibold">Age:</span> {{ dog.age_year }} year(s) {{ dog.age_month }} month(s)</p>
            <p><span class="font-semibold">Breed:</span> {{ dog.breed }}</p>
            <p><span class="font-semibold">Sex:</span> {{ dog.sex }}</p>
            <p><span class="font-semibold">Weight:</span> {{ dog.weight }} kg</p>
            <p><span class="font-semibold">Description:</span> {{ dog.description }}</p>
            </div>

        </div>
{% endblock %}
