<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="'viewport" content="width=device-width, initial-scale=1.0">
        <title>ShelterA</title>
        {% load static %}
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
    </head>
    <body>
        <header class = 'flex-row bg-amber-200'>
            <div class="flex bg-amber-300">
                Shelter A
            </div>
            <div class="flex ">
                <p>Meet Our Dogs</p>
                <p>Adopt</p>
                <button class="donate">Donate</button>
            </div>
        </header>
        <!-- Add filter / Convertor to lb/kg / -->
        <form class="search" method="'GET" action="">
        </form>
        <ul>
            {% for dog in dogs %}
            <li><b>{{dog.id}} : {{dog.name}}, {{dog.age_year}}, {{dog.weight}}, {{dog.sex}}, {{dog.status}}</b></li>
            {% endfor %}
        </ul>
        
        <footer>
            Copyright Shinon &copy; 2026
        </footer>
    </body>

</html>