<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="'viewport" content="width=device-width, initial-scale=1.0">
        <title>ShelterA</title>
        {% load static %}
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
    </head>
    <body>
        <header class = 'flex h-20 items-center bg-blue-300'>
            <div class="basis-2/3 text-3xl margin-left ml-2">
                Shelter A
            </div>
            <div class="basis-1/3 bg-cyan-300  flex items-center justify-end gap-5 mr-3 text-18">
                <a>Meet Our Dogs</a>
                <a>Adopt</a>
                <button class="bg-amber-800 h-10">Donate</button>
            </div>
        </header>
        <!-- Add filter / Convertor to lb/kg / -->
        <form class="search" method="'GET" action="">
        </form>
        <ul>
            {% for dog in dogs %}
            <li><b>{{dog.id}} : {{dog.name}}, {{dog.age_year}}, {{dog.weight}}, {{dog.sex}}, {{dog.status}}</b></li>
            {% endfor %}
        </ul>
        
        <footer>
            Copyright Shinon &copy; 2026
        </footer>
    </body>

</html>